<div class="container bgimage">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="mt-5">ENGLISH PREMIER LEAGUE</h1>
      <p class="lead">Get All The Updates About Matches, Scores ,Stats And Teams At One Place. </p>
      <div class="text-center" style="padding-top:5em;">
        <a href="#/allmatch"><button class="mybtn btn btn-default btn-lg">ALL MATCHES</button></a>
        <a href="#/stats"><button class="mybtn btn btn-default btn-lg" style="margin-left:0.3em;">STATISTICS</button></a>
      </div>
    </div>
  </div>
</div>
